<!-- File: chapter2/creating-controller.html -->
<html>
<head>
    <title>Hello AngularJS</title>
    <script src="../js/angular.1.3.0.js"></script>
    <style>
        label.input-label{
            color:#cc0000;
            font-weight:bold;
        }
    </style>
</head>
    <body ng-app="notesApp">
        <div ng-controller="MainCtrl as main">
            <label class="input-label">Username : </label>
            <br/>
            <input type="text" ng-model="main.user.username"/>
            <br/>
            <label class="input-label">Password : </label>
            <br/>
            <input type="password" ng-model="main.user.password"/>
            <br/>
            <button ng-click="main.change()">Change Values</button>
            <button ng-click="main.submit()">Submit</button>

        </div>

    <script type="text/javascript">
        angular.module('notesApp',[])
                .controller('MainCtrl', [function() {
                    var self = this;

                    //get values
                    self.change = function(){
                        self.user.username = 'changed';
                        self.userpassword = 'password';
                    };


                    //insert values
                    self.submit = function() {
                        console.log('full user object : ', self.user);
                        console.log('Username : ', self.user.username);
                        console.log('Password : ', self.user.password);
                    };


                }]);
    </script>
    </body>
</html>
